In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [ ]:
new_cdr_data = pd.ExcelFile('Downloads/dboutput100k.xlsx')
cdr_new = new_cdr_data.parse('dboutput')
cdr_for_analysis = cdr_new.head(10000)

cdr_for_analysis['xbin','y_bin'].size

In [55]:
df = cdr_for_analysis[['xbin', 'ybin']]

print (df)

          xbin       ybin
0     703000.0  3661850.0
1     736600.0  3636800.0
2     701650.0  3650850.0
3     736600.0  3636800.0
4     704150.0  3633850.0
...        ...        ...
9995  707900.0  3631050.0
9996  708450.0  3660550.0
9997  706650.0  3632250.0
9998  708450.0  3660550.0
9999  707900.0  3631050.0

[10000 rows x 2 columns]

In [57]:
measurmeents = cdr_for_analysis['measurements']

split = pd.DataFrame(measurmeents.str.split(',', expand= True))
print (split)

new_column= []
new_column = split[[0,2]]

                     0            1            2                   3    \
0     [{ltecelloid:10425  eventtype:1   rsrp:-93.5   physicalcellid:87
1      [{ltecelloid:8997  eventtype:9  rsrp:-107.5  physicalcellid:128
2     [{ltecelloid:14779  eventtype:0  rsrp:-113.5  physicalcellid:458
3      [{ltecelloid:8997  eventtype:9  rsrp:-110.5  physicalcellid:128
4     [{ltecelloid:44227  eventtype:1  rsrp:-103.5   physicalcellid:13
...                  ...          ...          ...                 ...
9995                 NaN          NaN          NaN                 NaN
9996   [{ltecelloid:8606  eventtype:1  rsrp:-100.5  physicalcellid:332
9997                 NaN          NaN          NaN                 NaN
9998   [{ltecelloid:8606  eventtype:1   rsrp:-99.5  physicalcellid:332
9999                 NaN          NaN          NaN                 NaN

                     4                    5                           6    \
0      frequencyband:850  label:DXL03207_8A_1  downlinkchannelnumber:2450
1      frequencyband:850  label:DXL02978_8B_2  downlinkchannelnumber:2549
2      frequencyband:850  label:DXL01160_8C_2  downlinkchannelnumber:2549
3      frequencyband:850  label:DXL02978_8B_2  downlinkchannelnumber:2549
4     frequencyband:1900  label:DXL00305_9C_1  downlinkchannelnumber:1000
...                  ...                  ...                         ...
9995                 NaN                  NaN                         NaN
9996   frequencyband:850  label:DXL00288_8A_1  downlinkchannelnumber:2450
9997                 NaN                  NaN                         NaN
9998   frequencyband:850  label:DXL00288_8A_1  downlinkchannelnumber:2450
9999                 NaN                  NaN                         NaN

                  7                          8            9    ...   210  \
0     enodeb:DXL03207  uplinkchannelnumber:20450  rsrq:-12.25  ...  None
1     enodeb:DXL02978  uplinkchannelnumber:20549  rsrq:-13.25  ...  None
2     enodeb:DXL01160  uplinkchannelnumber:20549  rsrq:-17.75  ...  None
3     enodeb:DXL02978  uplinkchannelnumber:20549  rsrq:-14.75  ...  None
4     enodeb:DXL00305  uplinkchannelnumber:19000  rsrq:-11.25  ...  None
...               ...                        ...          ...  ...   ...
9995              NaN                        NaN          NaN  ...   NaN
9996  enodeb:DXL00288  uplinkchannelnumber:20450   rsrq:-7.25  ...  None
9997              NaN                        NaN          NaN  ...   NaN
9998  enodeb:DXL00288  uplinkchannelnumber:20450   rsrq:-9.25  ...  None
9999              NaN                        NaN          NaN  ...   NaN

       211   212   213   214   215   216   217   218   219
0     None  None  None  None  None  None  None  None  None
1     None  None  None  None  None  None  None  None  None
2     None  None  None  None  None  None  None  None  None
3     None  None  None  None  None  None  None  None  None
4     None  None  None  None  None  None  None  None  None
...    ...   ...   ...   ...   ...   ...   ...   ...   ...
9995   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
9996  None  None  None  None  None  None  None  None  None
9997   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
9998  None  None  None  None  None  None  None  None  None
9999   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[10000 rows x 220 columns]

In [58]:
new_column.dtypes
new_column.replace(regex=True, inplace=True, to_replace=r'[^0-9.\-]', value=r'')
new_column = new_column.astype(object)

/home/aswin/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4166: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [59]:
print (new_column)

          0       2
0     10425   -93.5
1      8997  -107.5
2     14779  -113.5
3      8997  -110.5
4     44227  -103.5
...     ...     ...
9995    NaN     NaN
9996   8606  -100.5
9997    NaN     NaN
9998   8606   -99.5
9999    NaN     NaN

[10000 rows x 2 columns]

In [62]:
complete = pd.concat([new_column, df], axis=1)

In [78]:
complete.columns = ['cell_id', 'rsrp','ybin','xbin']
print (complete)

     cell_id    rsrp      ybin       xbin
0      10425   -93.5  703000.0  3661850.0
1       8997  -107.5  736600.0  3636800.0
2      14779  -113.5  701650.0  3650850.0
3       8997  -110.5  736600.0  3636800.0
4      44227  -103.5  704150.0  3633850.0
...      ...     ...       ...        ...
9995     NaN     NaN  707900.0  3631050.0
9996    8606  -100.5  708450.0  3660550.0
9997     NaN     NaN  706650.0  3632250.0
9998    8606   -99.5  708450.0  3660550.0
9999     NaN     NaN  707900.0  3631050.0

[10000 rows x 4 columns]

In [70]:
final = complete.sort_values(['cell_id', 'rsrp']).set_index(['cell_id', 'rsrp'])

In [71]:
final.to_csv('file_name.csv', encoding='utf-8')

In [74]:
fd = pd.DataFrame({'A': [1, 1, 2, 1, 2],
                   'B': [np.nan, 2, 3, 4, 5],
                   'C': [1, 2, 1, 1, 2]}, columns=['A', 'B', 'C'])

print (fd)

   A    B  C
0  1  NaN  1
1  1  2.0  2
2  2  3.0  1
3  1  4.0  1
4  2  5.0  2

In [87]:
check= complete.groupby(['cell_id','rsrp'])['rsrp'].mean()

DataError: No numeric types to aggregate

In [88]:
complete["rsrp"].dtypes

dtype('O')

In [89]:
complete['rsrp'].astype(float)

0       -93.5
1      -107.5
2      -113.5
3      -110.5
4      -103.5
        ...
9995      NaN
9996   -100.5
9997      NaN
9998    -99.5
9999      NaN
Name: rsrp, Length: 10000, dtype: float64

In [90]:
complete['rsrp'] = pd.to_numeric(complete['rsrp'])

In [93]:
check= complete.groupby(['cell_id'])['rsrp'].mean()

In [123]:
print (check)
check.dtypes

cell_id
1024   -106.500000
1025   -120.500000
1027   -105.500000
1028    -97.045455
1029   -118.300000
           ...
9682   -106.666667
9685   -104.000000
9738   -118.500000
9740   -111.500000
9741    -97.500000
Name: rsrp, Length: 1839, dtype: float64

dtype('float64')

In [95]:
complete['cell_id'].nuniqueique()

1839

In [96]:
check2= complete.groupby(['cell_id','xbin','ybin'])['rsrp'].mean()

In [97]:
print (check2)

cell_id  xbin       ybin
1024     3644650.0  728550.0   -106.5
1025     3643200.0  728000.0   -120.5
1027     3643700.0  728500.0   -113.5
         3643950.0  729100.0    -97.5
1028     3643500.0  727950.0   -104.5
                                ...
9738     3655150.0  737300.0   -118.5
9740     3650400.0  744850.0   -115.5
         3654050.0  744150.0   -107.5
9741     3647200.0  741400.0    -93.5
         3650050.0  743000.0   -101.5
Name: rsrp, Length: 4707, dtype: float64

In [126]:
check.to_csv('check.csv', encoding='utf-8')

In [103]:
check3= complete.groupby(['xbin','ybin'])['cell_id'].count() #counts number of cell_id in a particular x and y bin

In [113]:
complete.dtypes

cell_id     object
rsrp       float64
ybin       float64
xbin       float64
dtype: object

In [118]:
complete.loc[(complete['ybin'] == 704550) & (complete['xbin'] == 3625800)]

     cell_id  rsrp      ybin       xbin
6206   22668 -78.5  704550.0  3625800.0

KeyError: 'cell_id'