In [1]:
import pandas as pd
import numpy as np
import re
import sys
import time


start = time.time()
new_cdr_data = pd.ExcelFile('dboutput100k.xlsx')
cdr_new = new_cdr_data.parse('dboutput')
cdr_for_analysis = cdr_new.head(100)

In [2]:
df = cdr_for_analysis[['xbin', 'ybin']]
measurmeents = cdr_for_analysis['measurements']

fd = cdr_for_analysis[['xbin','ybin','measurements']]
fd_meaurements = fd['measurements']

In [3]:
def tidy_split(df, column, sep='|', keep=False):
    """
    Split the values of a column and expand so the new DataFrame has one split
    value per row. Filters rows where the column is missing.

    Params
    ------
    df : pandas.DataFrame
        dataframe with the column to split and expand
    column : str
        the column to split and expand
    sep : str
        the string used to split the column's values
    keep : bool
        whether to retain the presplit value as it's own row

    Returns
    -------
    pandas.DataFrame
        Returns a dataframe with the same columns as `df`.
    """
    indexes = list()
    new_values = list()
    df = df.dropna(subset=[column])
    for i, presplit in enumerate(df[column].astype(str)):
        values = presplit.split(sep)
        if keep and len(values) > 1:
            indexes.append(i)
            new_values.append(presplit)
        for value in values:
            indexes.append(i)
            new_values.append(value)
    new_df = df.iloc[indexes, :].copy()
    new_df[column] = new_values
    new_df 
    return new_df

In [4]:
final = tidy_split(fd, 'measurements', sep=('},{'))

In [5]:
final

        xbin       ybin                                       measurements
0   703000.0  3661850.0  [{ltecelloid:10425,eventtype:1,rsrp:-93.5,phys...
0   703000.0  3661850.0  ltecelloid:10425,eventtype:5,rsrp:-94.5,physic...
0   703000.0  3661850.0  rsrp:-93.5,rsrq:-17.75,eventtype:5,physicalcel...
0   703000.0  3661850.0  rsrp:-92.5,rsrq:-16.25,eventtype:5,physicalcel...
1   736600.0  3636800.0  [{ltecelloid:8997,eventtype:9,rsrp:-107.5,phys...
..       ...        ...                                                ...
97  703850.0  3639100.0  [{ltecelloid:8635,eventtype:9,rsrp:-96.5,physi...
97  703850.0  3639100.0  ltecelloid:8629,eventtype:9,rsrp:-108.5,physic...
98  702800.0  3662800.0  [{ltecelloid:13975,eventtype:9,rsrp:-103.5,phy...
98  702800.0  3662800.0  rsrp:-113.5,rsrq:-19.5,eventtype:9,physicalcel...
99  743400.0  3671900.0  [{ltecelloid:34030,eventtype:9,rsrp:-77.5,phys...

[327 rows x 3 columns]

In [6]:
final['measurements'] = final['measurements'].map(lambda x: x.lstrip('+{[:').rstrip('rsrp'))

In [7]:
che=final.reset_index()

In [8]:
che

,index,xbin,ybin,measurements
0,0,703000.0,3661850.0,"ltecelloid:10425,eventtype:1,rsrp:-93.5,physic..."
1,0,703000.0,3661850.0,"ltecelloid:10425,eventtype:5,rsrp:-94.5,physic..."
2,0,703000.0,3661850.0,"rsrp:-93.5,rsrq:-17.75,eventtype:5,physicalcel..."
3,0,703000.0,3661850.0,"rsrp:-92.5,rsrq:-16.25,eventtype:5,physicalcel..."
4,1,736600.0,3636800.0,"ltecelloid:8997,eventtype:9,rsrp:-107.5,physic..."
...,...,...,...,...
322,97,703850.0,3639100.0,"ltecelloid:8635,eventtype:9,rsrp:-96.5,physica..."
323,97,703850.0,3639100.0,"ltecelloid:8629,eventtype:9,rsrp:-108.5,physic..."
324,98,702800.0,3662800.0,"ltecelloid:13975,eventtype:9,rsrp:-103.5,physi..."
325,98,702800.0,3662800.0,"rsrp:-113.5,rsrq:-19.5,eventtype:9,physicalcel..."
326,99,743400.0,3671900.0,"ltecelloid:34030,eventtype:9,rsrp:-77.5,physic..."

In [9]:
foo = lambda x: pd.Series([i for i in reversed(x.split(','))])
rev = che['measurements'].apply(foo)
print (rev)

                           0            1                          2   \
0      trackingareacode:27200  rsrq:-12.25  uplinkchannelnumber:20450
1      trackingareacode:27200  rsrq:-13.25  uplinkchannelnumber:20450
2          physicalcellid:407  eventtype:5                rsrq:-17.75
3        physicalcellid:406}]  eventtype:5                rsrq:-16.25
4      trackingareacode:27147  rsrq:-13.25  uplinkchannelnumber:20549
..                        ...          ...                        ...
322    trackingareacode:27186  rsrq:-11.75  uplinkchannelnumber:20549
323  trackingareacode:27186}]   rsrq:-9.75  uplinkchannelnumber:19000
324    trackingareacode:27200  rsrq:-12.75  uplinkchannelnumber:23780
325      physicalcellid:371}]  eventtype:9                 rsrq:-19.5
326  trackingareacode:27148}]   rsrq:-6.75  uplinkchannelnumber:20450

                  3                           4                    5   \
0    enodeb:DXL03207  downlinkchannelnumber:2450  label:DXL03207_8A_1
1    enodeb:DXL03207  downlinkchannelnumber:2450  label:DXL03207_8A_1
2         rsrp:-93.5                         NaN                  NaN
3         rsrp:-92.5                         NaN                  NaN
4    enodeb:DXL02978  downlinkchannelnumber:2549  label:DXL02978_8B_2
..               ...                         ...                  ...
322  enodeb:DXL03017  downlinkchannelnumber:2549  label:DXL03017_8A_2
323  enodeb:DXL03017  downlinkchannelnumber:1000  label:DXL03017_9A_1
324  enodeb:DXL00278  downlinkchannelnumber:5780  label:DXL00278_7C_1
325      rsrp:-113.5                         NaN                  NaN
326  enodeb:DXL05383  downlinkchannelnumber:2450  label:DXL05383_8B_1

                     6                   7            8            9   \
0     frequencyband:850   physicalcellid:87   rsrp:-93.5  eventtype:1
1     frequencyband:850   physicalcellid:87   rsrp:-94.5  eventtype:5
2                   NaN                 NaN          NaN          NaN
3                   NaN                 NaN          NaN          NaN
4     frequencyband:850  physicalcellid:128  rsrp:-107.5  eventtype:9
..                  ...                 ...          ...          ...
322   frequencyband:850  physicalcellid:165   rsrp:-96.5  eventtype:9
323  frequencyband:1900  physicalcellid:297  rsrp:-108.5  eventtype:9
324   frequencyband:700  physicalcellid:497  rsrp:-103.5  eventtype:9
325                 NaN                 NaN          NaN          NaN
326   frequencyband:850  physicalcellid:304   rsrp:-77.5  eventtype:9

                   10
0    ltecelloid:10425
1    ltecelloid:10425
2                 NaN
3                 NaN
4     ltecelloid:8997
..                ...
322   ltecelloid:8635
323   ltecelloid:8629
324  ltecelloid:13975
325               NaN
326  ltecelloid:34030

[327 rows x 11 columns]

In [10]:
rev.rename(columns={0:'a',1:'b',2:'c',3:'d',4:'e',5:'f',6:'g',7:'h',8:'rsrp',9:'j',10:'Itecelloid'},inplace=True)
rev = rev[['a','b','c','d','e','f','g','h','rsrp','j','Itecelloid']]
#print (rev)

rev

,a,b,c,d,e,f,g,h,rsrp,j,Itecelloid
0,trackingareacode:27200,rsrq:-12.25,uplinkchannelnumber:20450,enodeb:DXL03207,downlinkchannelnumber:2450,label:DXL03207_8A_1,frequencyband:850,physicalcellid:87,rsrp:-93.5,eventtype:1,ltecelloid:10425
1,trackingareacode:27200,rsrq:-13.25,uplinkchannelnumber:20450,enodeb:DXL03207,downlinkchannelnumber:2450,label:DXL03207_8A_1,frequencyband:850,physicalcellid:87,rsrp:-94.5,eventtype:5,ltecelloid:10425
2,physicalcellid:407,eventtype:5,rsrq:-17.75,rsrp:-93.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,physicalcellid:406}],eventtype:5,rsrq:-16.25,rsrp:-92.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,trackingareacode:27147,rsrq:-13.25,uplinkchannelnumber:20549,enodeb:DXL02978,downlinkchannelnumber:2549,label:DXL02978_8B_2,frequencyband:850,physicalcellid:128,rsrp:-107.5,eventtype:9,ltecelloid:8997
...,...,...,...,...,...,...,...,...,...,...,...
322,trackingareacode:27186,rsrq:-11.75,uplinkchannelnumber:20549,enodeb:DXL03017,downlinkchannelnumber:2549,label:DXL03017_8A_2,frequencyband:850,physicalcellid:165,rsrp:-96.5,eventtype:9,ltecelloid:8635
323,trackingareacode:27186}],rsrq:-9.75,uplinkchannelnumber:19000,enodeb:DXL03017,downlinkchannelnumber:1000,label:DXL03017_9A_1,frequencyband:1900,physicalcellid:297,rsrp:-108.5,eventtype:9,ltecelloid:8629
324,trackingareacode:27200,rsrq:-12.75,uplinkchannelnumber:23780,enodeb:DXL00278,downlinkchannelnumber:5780,label:DXL00278_7C_1,frequencyband:700,physicalcellid:497,rsrp:-103.5,eventtype:9,ltecelloid:13975
325,physicalcellid:371}],eventtype:9,rsrq:-19.5,rsrp:-113.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
326,trackingareacode:27148}],rsrq:-6.75,uplinkchannelnumber:20450,enodeb:DXL05383,downlinkchannelnumber:2450,label:DXL05383_8B_1,frequencyband:850,physicalcellid:304,rsrp:-77.5,eventtype:9,ltecelloid:34030

In [11]:
che['itecelloid'] = rev['Itecelloid'].values 
che['rsrp'] = rev['rsrp'].values

In [12]:
che['itecelloid'] = che['itecelloid'].astype(str).str.replace('\D+', '')
che['rsrp'] = che['rsrp'].astype(str).str.replace('rsrp:','')

In [13]:
che.dtypes

index             int64
xbin            float64
ybin            float64
measurements     object
itecelloid       object
rsrp             object
dtype: object

In [14]:
che= che.dropna(subset=['rsrp'])

In [15]:
final_che= che[["xbin","ybin","itecelloid","rsrp"]]
final_che

         xbin       ybin itecelloid    rsrp
0    703000.0  3661850.0      10425   -93.5
1    703000.0  3661850.0      10425   -94.5
2    703000.0  3661850.0                nan
3    703000.0  3661850.0                nan
4    736600.0  3636800.0       8997  -107.5
..        ...        ...        ...     ...
322  703850.0  3639100.0       8635   -96.5
323  703850.0  3639100.0       8629  -108.5
324  702800.0  3662800.0      13975  -103.5
325  702800.0  3662800.0                nan
326  743400.0  3671900.0      34030   -77.5

[327 rows x 4 columns]

In [16]:
A = final_che[final_che['itecelloid'].astype(bool)]

In [17]:
A['rsrp'].mean()

TypeError: Could not convert -93.5-94.5-107.5-115.5-113.5-110.5-114.5-116.5-106.5-110.5-103.5-124.5-87.5-97.5-99.5-104.5-104.5-101.5-98.5-82.5-108.5-101.5-81.5-107.5-105.5-112.5-100.5-87.5-104.5-85.5-110.5-104.5-107.5-109.5-97.5-81.5-101.5-84.5-109.5-102.5-113.5-113.5-113.5-101.5-88.5-98.5-85.5-102.5-112.5-115.5-113.5-102.5-102.5-85.5-103.5-111.5-111.5-114.5-101.5-103.5-103.5-110.5-112.5-115.5-103.5-103.5-102.5-111.5-112.5-115.5-102.5-102.5-102.5-113.5-111.5-112.5-102.5-90.5-102.5-112.5-113.5-116.5-102.5-102.5-84.5-83.5-104.5-83.5-86.5-102.5-102.5-113.5-112.5-112.5-117.5-102.5-89.5-94.5-92.5-102.5-112.5-115.5-111.5-105.5-115.5-105.5-116.5-84.5-91.5-112.5-117.5-112.5-118.5-112.5-117.5-112.5-118.5-111.5-114.5-116.5-113.5-117.5-115.5-120.5-122.5-111.5-116.5-112.5-123.5-114.5-125.5-104.5-105.5-107.5-104.5-96.5-85.5-90.5-89.5-98.5-97.5-101.5-103.5-97.5-86.5-83.5-105.5-109.5-109.5-110.5-115.5-112.5-110.5-98.5-114.5-106.5-93.5-79.5-86.5-79.5-91.5-85.5-94.5-76.5-85.5-78.5-86.5-107.5-106.5-102.5-101.5-107.5-106.5-102.5-101.5-100.5-117.5-115.5-104.5-106.5-104.5-106.5-106.5-107.5-112.5-106.5-102.5-107.5-99.5-82.5-81.5-85.5-95.5-89.5-88.5-102.5-87.5-107.5-102.5-90.5-103.5-125.5-122.5-126.5-123.5-121.5-121.5-126.5-122.5-95.5-108.5-107.5-110.5-112.5-118.5-103.5-103.5-117.5-116.5-117.5-122.5-114.5-116.5-100.5-112.5-125.5-109.5-99.5-112.5-125.5-100.5-112.5-126.5-102.5-102.5-117.5-103.5-118.5-100.5-112.5-127.5-102.5-112.5-125.5-98.5-99.5-104.5-116.5-95.5-100.5-94.5-94.5-110.5-90.5-95.5-91.5-90.5-103.5-131.5-103.5-132.5-101.5-102.5-100.5-81.5-82.5-99.5-107.5-106.5-99.5-105.5-95.5-108.5-106.5-100.5-104.5-106.5-95.5-107.5-109.5-110.5-100.5-107.5-100.5-96.5-107.5-105.5-100.5-96.5-108.5-103.5-77.5 to numeric

In [18]:
grouped = A.groupby(['xbin','ybin'])

In [19]:
grouped = A.groupby(['xbin','ybin'])

for name,group in grouped:
    print(name)
    #print(group)
    group['rsrp'] = pd.to_numeric(group['rsrp'])
    g = group.groupby(['itecelloid'],as_index=False).agg({'rsrp': 'mean'})
    print (g)
    if not g.empty:
       print ("Data available")
       maxi = g.loc[g['rsrp'].idxmax()]
       print(maxi)
   #if not g.

(701650.0, 3650850.0)
  itecelloid   rsrp
0      14779 -113.5
Data available
itecelloid    14779
rsrp         -113.5
Name: 0, dtype: object
(702700.0, 3630100.0)
  itecelloid        rsrp
0      24917 -110.166667
1      24918 -110.833333
2      38208 -110.500000
Data available
itecelloid      24917
rsrp         -110.167
Name: 0, dtype: object
(702800.0, 3662800.0)
  itecelloid        rsrp
0      13975 -103.500000
1      13976  -87.071429
2      37852 -104.500000
3      47572  -90.500000
Data available
itecelloid      13976
rsrp         -87.0714
Name: 1, dtype: object
(703000.0, 3661850.0)
  itecelloid  rsrp
0      10425 -94.0
Data available
itecelloid    10425
rsrp            -94
Name: 0, dtype: object
(703300.0, 3648450.0)
  itecelloid   rsrp
0      27618 -103.5
1      45025 -101.5
Data available
itecelloid    45025
rsrp         -101.5
Name: 1, dtype: object
(703550.0, 3646850.0)
  itecelloid   rsrp
0      28522 -111.0
1      28523 -108.0
Data available
itecelloid    28523
rsrp           -108
Name: 1, dtype: object
(703850.0, 3639100.0)
  itecelloid    rsrp
0      37761 -110.50
1       8623 -107.25
2       8629 -108.10
3       8635  -95.90
Data available
itecelloid    8635
rsrp         -95.9
Name: 3, dtype: object
(703850.0, 3645750.0)
  itecelloid        rsrp
0      33150 -110.500000
1      33154 -112.000000
2      38455 -119.166667
3      38457 -123.500000
Data available
itecelloid    33150
rsrp         -110.5
Name: 0, dtype: object
(704000.0, 3659850.0)
  itecelloid   rsrp
0      15579 -122.0
1      18310 -123.0
2      18319 -125.0
Data available
itecelloid    15579
rsrp           -122
Name: 0, dtype: object
(704150.0, 3633850.0)
  itecelloid   rsrp
0      44219 -124.5
1      44227 -103.5
Data available
itecelloid    44227
rsrp         -103.5
Name: 1, dtype: object
(704200.0, 3662000.0)
  itecelloid   rsrp
0      15527 -107.0
Data available
itecelloid    15527
rsrp           -107
Name: 0, dtype: object
(704350.0, 3645150.0)
  itecelloid        rsrp
0      39713 -105.166667
1      39714 -103.333333
2      42295 -112.500000
Data available
itecelloid      39714
rsrp         -103.333
Name: 1, dtype: object
(704700.0, 3646450.0)
  itecelloid   rsrp
0      28609 -104.5
Data available
itecelloid    28609
rsrp         -104.5
Name: 0, dtype: object
(704900.0, 3629300.0)
  itecelloid    rsrp
0      32734  -96.75
1      47239 -104.50
Data available
itecelloid    32734
rsrp         -96.75
Name: 0, dtype: object
(705350.0, 3636250.0)
  itecelloid        rsrp
0      32810 -118.000000
1      32816 -102.833333
Data available
itecelloid      32816
rsrp         -102.833
Name: 1, dtype: object
(705500.0, 3631100.0)
  itecelloid  rsrp
0      31771 -79.0
1      31777 -78.0
2      31780 -94.0
3      31817 -86.0
Data available
itecelloid    31777
rsrp            -78
Name: 1, dtype: object
(705500.0, 3634700.0)
  itecelloid   rsrp
0      19933 -116.5
1      19942 -118.5
Data available
itecelloid    19933
rsrp         -116.5
Name: 0, dtype: object
(705500.0, 3669600.0)
  itecelloid   rsrp
0      16278 -122.5
1      26168 -114.5
2      26169 -117.0
3      30522 -120.5
Data available
itecelloid    26168
rsrp         -114.5
Name: 1, dtype: object
(705650.0, 3661200.0)
  itecelloid  rsrp
0      16491 -97.5
1      16494 -98.5
Data available
itecelloid    16491
rsrp          -97.5
Name: 0, dtype: object
(705700.0, 3630250.0)
  itecelloid  rsrp
0      15719 -85.5
1       4334 -95.5
Data available
itecelloid    15719
rsrp          -85.5
Name: 0, dtype: object
(705750.0, 3629950.0)
  itecelloid  rsrp
0        122 -88.0
1      49753 -89.5
Data available
itecelloid    122
rsrp          -88
Name: 0, dtype: object
(706100.0, 3629650.0)
  itecelloid   rsrp
0      39515  -93.0
1      39521  -98.0
2      39525 -113.5
Data available
itecelloid    39515
rsrp            -93
Name: 0, dtype: object
(708500.0, 3647650.0)
  itecelloid   rsrp
0      10439 -104.5
1      14732 -105.5
2      48921 -107.5
Data available
itecelloid    10439
rsrp         -104.5
Name: 0, dtype: object
(708600.0, 3641050.0)
  itecelloid   rsrp
0      37900 -109.5
Data available
itecelloid    37900
rsrp         -109.5
Name: 0, dtype: object
(709000.0, 3640400.0)
  itecelloid        rsrp
0      24251 -101.500000
1      36097 -100.500000
2      37901 -118.166667
3      37916  -99.500000
4      38899 -102.500000
Data available
itecelloid    37916
rsrp          -99.5
Name: 3, dtype: object
(709450.0, 3664750.0)
  itecelloid   rsrp
0      34340  -98.5
1      34341 -114.5
Data available
itecelloid    34340
rsrp          -98.5
Name: 0, dtype: object
(709500.0, 3646250.0)
  itecelloid        rsrp
0      29947 -100.166667
1      46562 -105.500000
2      48927 -106.000000
3        906 -106.833333
Data available
itecelloid      29947
rsrp         -100.167
Name: 0, dtype: object
(712050.0, 3648600.0)
  itecelloid        rsrp
0      10434  -89.500000
1      30909  -88.833333
2      30913 -105.000000
3      30914 -103.000000
Data available
itecelloid      30909
rsrp         -88.8333
Name: 1, dtype: object
(713200.0, 3650500.0)
  itecelloid    rsrp
0      46426 -101.70
1      46439 -104.25
Data available
itecelloid    46426
rsrp         -101.7
Name: 0, dtype: object
(713250.0, 3650550.0)
  itecelloid  rsrp
0      46424 -97.5
1      46426 -83.5
2      46433 -86.5
Data available
itecelloid    46426
rsrp          -83.5
Name: 1, dtype: object
(713300.0, 3655850.0)
  itecelloid  rsrp
0      35977 -82.0
Data available
itecelloid    35977
rsrp            -82
Name: 0, dtype: object
(713850.0, 3645300.0)
  itecelloid   rsrp
0      17658 -114.5
1      18421 -112.3
2      18427 -118.0
Data available
itecelloid    18421
rsrp         -112.3
Name: 1, dtype: object
(715100.0, 3651750.0)
  itecelloid   rsrp
0      13685 -126.1
1      13692 -100.7
2      13707 -112.5
Data available
itecelloid    13692
rsrp         -100.7
Name: 1, dtype: object
(715400.0, 3654900.0)
  itecelloid   rsrp
0      33235 -107.5
Data available
itecelloid    33235
rsrp         -107.5
Name: 0, dtype: object
(715600.0, 3630800.0)
  itecelloid     rsrp
0      27482 -100.500
1      27484  -84.625
2      27485 -109.000
Data available
itecelloid     27484
rsrp         -84.625
Name: 1, dtype: object
(716700.0, 3664900.0)
  itecelloid   rsrp
0      39902 -104.5
1      39909  -96.5
Data available
itecelloid    39909
rsrp          -96.5
Name: 1, dtype: object
(718050.0, 3653200.0)
  itecelloid  rsrp
0      44592 -81.5
1      44602 -82.5
Data available
itecelloid    44592
rsrp          -81.5
Name: 0, dtype: object
(718550.0, 3668100.0)
  itecelloid  rsrp
0      46886 -84.5
1       6064 -91.5
Data available
itecelloid    46886
rsrp          -84.5
Name: 0, dtype: object
(718950.0, 3672850.0)
  itecelloid   rsrp
0      40396 -117.5
1      40399 -115.5
Data available
itecelloid    40399
rsrp         -115.5
Name: 1, dtype: object
(722950.0, 3632400.0)
  itecelloid   rsrp
0      23894 -107.0
1      23895 -101.0
Data available
itecelloid    23895
rsrp           -101
Name: 1, dtype: object
(723800.0, 3635550.0)
  itecelloid   rsrp
0       8049 -106.5
Data available
itecelloid     8049
rsrp         -106.5
Name: 0, dtype: object
(735850.0, 3642000.0)
  itecelloid  rsrp
0      27161 -88.5
Data available
itecelloid    27161
rsrp          -88.5
Name: 0, dtype: object
(736600.0, 3636800.0)
  itecelloid        rsrp
0        113 -116.000000
1       8996 -112.500000
2       8997 -108.166667
Data available
itecelloid       8997
rsrp         -108.167
Name: 2, dtype: object
(738300.0, 3643850.0)
  itecelloid  rsrp
0      22956 -86.5
Data available
itecelloid    22956
rsrp          -86.5
Name: 0, dtype: object
(743400.0, 3671900.0)
  itecelloid  rsrp
0      34030 -77.5
Data available
itecelloid    34030
rsrp          -77.5
Name: 0, dtype: object
(761250.0, 3664000.0)
  itecelloid        rsrp
0        299 -102.681818
1      31040 -112.611111
2      37240 -117.500000
3      45274 -112.166667
4      45279 -114.722222
Data available
itecelloid        299
rsrp         -102.682
Name: 0, dtype: object

In [2]:
print (c)

5